name: Go Test

# ワークフローをトリガーする条件
on:
  pull_request:
    branches:
      - master  # 対象のプルリクエスト先ブランチを指定

jobs:
  test:
    name: Run Go Tests
    runs-on: ubuntu-latest

    steps:
      # コードをチェックアウト
      - name: Checkout code
        uses: actions/checkout@v3

      # Go のセットアップ
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.3  # 使用する Go のバージョンを指定

      # 依存関係のインストール
      - name: Install dependencies
        run: go mod tidy

      # テストの実行
      - name: Run tests with coverage
        run: go test ./... -coverprofile=coverage.out

      - name: Display Coverage
        run: |
          go tool cover -func=coverage.out | tee coverage.txt

      - name: Post Coverage Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: coverage.txt
